<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDusKUppALCXtDg5WMiudtF1dG0rnDI7MA</string>
	<key>GCM_SENDER_ID</key>
	<string>27323785265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tmncode.SleekCare</string>
	<key>PROJECT_ID</key>
	<string>sleek-b61d1</string>
	<key>STORAGE_BUCKET</key>
	<string>sleek-b61d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27323785265:ios:9973ce07305de46adbf510</string>
</dict>
</plist>